<div class="row">
    <!-- <div class="col-xs-4 ">
      <h3 className=""> New Recipe </h3>
    </div> -->
    <div  class="col-xs-12">
      <form  [formGroup]="vehicalEditForm1" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="name">Vehical Name</label>
              <input  formControlName="name" type="text" class="form-control" id="name" placeholder="Title">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="imagePath">Image URL</label>
              <input  formControlName="imagepath" type="text" class="form-control" id="imagePath" placeholder="https://www.imagePath">
            </div>
          </div>
        </div>
        <!-- <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <img class="img-responsive" src="{{imagePath}}" alt="">
            </div>
          </div>
        </div> -->
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="description">Desciption</label>
              <textarea  formControlName="description" class="form-control" rows="6" type="text" id="desription" placeholder="Type here ... "></textarea>
            </div>
          </div>
        </div>
        <div class=" pull-right btn-position-save">
            <button [disabled]='!vehicalEditForm1.valid' type="submit" class="btn btn-primary">Save</button>
            <button (click)="onCancel()" type="button" class="btn btn-warning">Cancel</button>
        </div>
      </form>
    </div>   
  </div>
